* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    padding: none;
    margin: none;
    flex-wrap: wrap;
   
}


.header {
    background-color: #1F2937;
    padding: 0px 100px;
    display: flex;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex; 
    gap: 10px;
}

/*-------------------------------------------------------------------------------------*/


.header-two {
    background-color: #1F2937;
    padding: 60px 100px 40px 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: auto;
 
}

.header-two-left {
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
}
.htwo-title {
     font-size: 48px;
     font-weight: bolder;
 }

.htwo-message {
    color: #e5e7eb;
}

/*-------------------------------------------------------------------------------------*/


.middle {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px 30px 100px;
    flex-wrap: wrap;
    flex: 1 1 auto;
    
}

.middle-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 30px;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.middle-images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 40px;
} 

.text {
    display: flex;
    justify-content: center;
    color: #1F2937;
}


/*-------------------------------------------------------------------------------------*/


.quote {
    display: flex;
    background-color: #E5E7EB;
    padding: 70px 250px;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;

}
.quote-msg {
    font-size: 36px;
    flex-direction: row;
    font-style: italic;
    color: #1F2937;
    flex-grow: 0;
}
.quote-sign {
    text-align: end;
}

/*-------------------------------------------------------------------------------------*/

.bottom {
    margin: 60px 150px;
    border-radius: 10px;
    justify-content: space-between;
    height: 100px;
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 30px 100px;
}

.bottom-left {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom-left-top {
    font-weight: bolder;
}
.bottom-left-bottom {
    color: #E5E7EB;
}
.bottom-right{
    display: flex;
    align-items: center;
}


/*-------------------------------------------------------------------------------------*/


.footer {
    background-color: #1F2937;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-------------------------------------------------------------------------------------*/


a {
    text-decoration: none;
    color: #E5E7EB;
}



button {
    background-color: #3882F6;
    width: 100px;
    border-radius: 5px;
    padding: 5px 0px;
    color:white
}

.bottom button {
    border:1px solid white;
}

.header-img {
    width: 390px;
    height: 180px;
}

.pic  {
    width: auto;
    height: 80px;
    border:2px solid #3882F6;
}
